body { 
  background-color: #eee; 
  color: #333;
  margin:0;
  padding:0;
 }

body, p, ol, ul, td {
  font-family: ubuntu, verdana, arial, helvetica, sans-serif;
  line-height: 20px;
}

pre {
  background-color: #eee;
}

hr {

  border-color:#fff;
}

a { color: #000; 
  text-decoration:none;
}
a:hover { color: #ccc;  }
span a:hover { color: #ccc;  text-shadow: #333 1px 1px 1px;}

a:focus {outline:none;}

div.field, div.actions {
  margin-bottom: 10px;
}


#header, #footer {
  height:105px;
  background-color:#f3f3f3;
  border-bottom:solid 1px  #d2d2d2;
}

#header .content {
  width:850px;
}

#header .content p {
  width: 200px;
  float:right; 
}

#container {
  /*overflow:hidden;*/
  width:900px;
  margin:auto;
  /*margin-bottom:10px;*/
  height:100%;

}

#container div.projects, #container div.takeoffs {
  width:600px;
  margin-top:20px;
  min-height:600px;
  padding:5px 20px;
  /*background-color:#e3e3e3;*/
  background-color:beige;
  float:left;
  display:inline;
  border-left:.5px solid #d6d6d6;
  border-top:.5px solid #d6d6d6;
/*  -moz-border-radius: 15px;
  border-radius: 15px;*/
  -moz-box-shadow: 5px 5px 5px #c6c6c6;;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;
}

#container div.projects div.card h3{
  color:#333;
  text-shadow: #cdcdce 1px 1px 1px;
}

#container div.projects div.card h3 span{
  text-shadow: #333 1px 1px 1px;
}

#container div.takeoffs {
  width:855px;
}

.box_header {
  color:beige;
  margin:-5px -20px;
  padding:10px 20px;
  background-color:#EEE8AA;
  border-bottom:#eee9aa;
  height:25px;
   text-shadow: #555 2px 2px 2px;
}

.box_header h1 {
  margin:0;
}

.box_header a {
  margin:-10px 0 0;
}

.content {
  overflow:hidden;
  width:850px;
  margin:auto;
}

.content h2.logo_text {
  width:200px;
  color:#999;
  text-shadow: #cdcdce 5px 5px 1px;
  float:left;
  margin-top:25px;
  font-size:2em;
}

.content .primary{
  width:600px;
  padding-right:20px;
  float:left;
  display:inline;
  border-right:solid #e3e3e3 1px;
  font-size:1.2em;
}

.primary p {
  
}

.content .secondary {
  float:right;
  width:190px;
  display:inline;
  padding:4px;
}

.modify_links {
  font-size:1em;
  color:#ddd;
}

.sign_in_form {
  background-color:beige;
  margin:50px auto;
  width:300px;
  padding:20px;
  border:1px solid #ccc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;  
}

.project_layout {
  margin:50px auto;
  width:803px;
  padding-left:20px;
  border:1px solid #999;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6; 
  background-color:beige;  
}
.card {
  background:#fff;
  border:.5px solid #aaa;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  margin: 20px 0;
  padding:10px;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;
     
}

.card p {
  border-bottom:1px solid #e6e6e6;
}

.project_info {
  margin:5px;
  width:300px;
}

.small {
  color:#aaa;
  font-size:.8em;
}

.light {
  color:#aaa;
}

.takeoff {
  color:#999;
  padding-left:20px;
  font-size:1em;
}

.list {
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  margin:-10px;
  background:#9a9a9a;
  color:#eee;
  padding:10px;
}

.takeoff_line_item {
  background-color:#EEE8AA;
  text-align:center;
}

.checklist ul{
  list-style:none;
}


/******Navigation Bar*****/
#navbar {
  background-color:#e3e3e3;
}

#navbar ul.nav, 
  ul.nav {
  margin:auto;
  padding:0;
  width:850px;
  list-style:none;
  overflow:hidden;
  background-color:#e3e3e3;
}

#navbar ul.nav li {
  float:left;
}

#navbar ul.nav li.user_status  {
  float:right;
} 

.right_link {
  float:right;
  padding: 0 5px;
}

#navbar ul.nav a, .user_status  {
  display:block;
  padding:0 1em;
  line-height: 2.1em;
  text-decoration:none;
  color:#333;
}

#navbar ul.nav a.user_status  {
  padding:0 .3em;
}

#navbar ul.nav a:hover  {
  background-color:#f3f3f3;
  color:#333;
}


/****** Error Styles *******/
#flash_notice {
  border: 1px solid #333;
  padding: 7px;
  margin-bottom: 20px auto;
  background-color: #00ffff;

}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}