body{
margin:0 auto;
margin-top:-20px;
padding:0;
font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
color:#222;
background-color:#eee;
text-align:center;
min-width:870px
}
  
body, p, ol, ul {
  font-family: ubuntu, verdana, arial, helvetica, sans-serif;
  line-height: 20px;
}
td {
  line-height:15px;
}
ul li {list-style-type:  none}
li {font-size:13px;line-height:13px;}

pre {background-color: #eee;}

hr {border-color:#fff;}

a { color: #333; text-decoration:none;}
a:hover { color: #333;text-decoration:underline;  }

/*span a:hover { color: #ccc;  text-shadow: #333 1px 1px 1px;}*/

a:focus {outline:none;}

h1{
    color: #232323;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.1em;
    margin: 40px 0 5px;
    text-align: center;
  }

h2 {
    color: #232323;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin: 20px 0;
}

  h3 {
    color: #232323;
    font-size: 24px;
    font-weight: 500;
    margin: 5px 0 0 -10px;
    padding: 0;
    text-align: center;
}
/****** ID and class styling ******/
body #Tabs {
  margin-right:25px;
}

.pipe {
  font-size:10px;
  opacity:.6;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/**** header ******/
/******************/

#Wrapper {
  margin: 0 5%;  
}

#header{
background:#0066cc;
text-align:left;
position:relative
}

#Header {
  background: none !important;
  border-bottom: 5px solid #000;
  margin: 0 5% 30px;
  padding: 0;
}

#header.global h2 {
  padding-top:10px;
}
#Header h1{
  padding:30px 0 10px 30px;
  font-size:24px;
  font-weight:normal;
  color:#fc0;
}
#header.global div.navbar {
  font-size:10px;
  padding: 7px 25px 0;
}

#header div.navbar, #header div.navbar a:link, #header div.navbar a:visited { color:#333;}

#header h2 {
  color:#000066;
  text-shadow: #cdcdce 1px 1px 1px;
  /*float:left;*/
  font-size:24px;
  padding: 30px 0 10px 30px;
}

#header #settings_logout {
  font-size:13px;
  padding:7px 20px;
  position:absolute;
  right:0;
  top:0;
}

#header #settings_logout a, #header #settings_logout span.name{
  padding:7px 3px;
}


/******Navigation Bar****/

.navigation {
  /*background-color:#e3e3e3;*/
}

#header div.navigation div.pipe,#Header div.navigation span.pipe{
opacity:.6;
filter:alpha(opacity=60);
font-size:10px
}
#header div.navigation a.current{
font-weight:bold;
text-decoration:none
}
#header.global div.navigation{
font-size:10px;
padding:7px 25px 0
}
#header.global div.navigation a{
padding:7px 5px
}

#Tabs {
  height:24px;
  margin:0 57px 0 30px;
  padding:0;
}

#Tabs ul {
  margin:0;
  padding:0;
}

#Tabs li {
  border: none;
  display:inline;
  list-style:none outside none;
  margin:0;
  padding:0;
}

#Tabs a:link, #Tabs a:visited{
  text-decoration:none;
  background-color:#eee;
  padding:6px;
  font-height:1.5em;
}

#Tabs a:hover{
color:#fff;
background:#333
}

#Tabs ul#Main_tabs a.current:link,
#Tabs ul#Main_tabs a.current:visited,
.Right #catagories a.current:link,
.Right #catagories a.current:visited {
  color:#000;
}

#Tabs ul#Main_tabs a.current:link,
#Tabs ul#Main_tabs a.current:visited {
  background: -moz-linear-gradient(center top, #fdfdfd, #e5e5e5) repeat scroll 0 0 transparent;
  font-weight: bold;
  margin:0 1px;
  padding-bottom:9px;
  text-decoration:none;
}
#Tabs ul#Main_tabs  a:link, #Tabs ul#Main_tabs a:visited {
  float:left;
  font-size:12px;
  line-height:12px;
  padding:5px 9px 7px;
  margin:0 1px;
}

#Tabs ul#MainTabs a:link.current,#Tabs ul#MainTabs a:visited.current{
color:#222;
font-weight:bold;
text-decoration:none;
margin:0 1px;
padding-bottom:9px;
background:#e5e5e5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd',endColorstr='#e5e5e5');
background:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#e5e5e5));
background:-moz-linear-gradient(top,#fdfdfd,#e5e5e5)
}

/*******home page***********/

div.home{
  margin:auto;
  text-align:center;
  width:993px;
  font-family: "minion-pro-1","minion-pro-2","Times New Roman",Georgia,serif;
}

div.home h2 {
  float:left;
  margin-top:50px;
}

div.home div.header h1 {
  font-size:52px;
  margin-top:60px;
}

div.home div.content{
  background:#eee;
  margin:auto;
}
div.home div.content div.info_frame {
  width:993px;
  margin:auto;
}

.info_box {
  width:250px;
  height:250px;
  padding:5px 20px;
  margin:50px 10px 0px 30px;
  background-color:#e3e3e3;
  background-color:beige;
  float:left;
  display:inline;
  border-left:.5px solid #d6d6d6;
  border-top:.5px solid #d6d6d6;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;
}

/*******main content *********/

div#Wrapper{
padding:12px 23px 0 30px;
margin:0 auto
}

div.container {
  margin:0 auto 0 auto;
  min-width:750px;
  text-align:center;
}
/*
.container td.projects, .container td.takeoffs {
  width:70%;
  margin-top:20px;
  min-height:600px;
  padding:5px 20px;
  background-color:#e3e3e3;
  background-color:beige;
  float:left;
  display:inline;
  border-left:.5px solid #d6d6d6;
  border-top:.5px solid #d6d6d6;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;
}
*/
table.layout, div.layout {
  width:100%;
  border-collapse: collapse;
  clear:left;
}

table.layout td.left, div.layout table{
width:70%}
table.layout td.right{
width:30%}

table.line_item_list th,
table.line_item_list td{
  margin:0 2px;
  /*padding:0 4px;*/
  width:65px;
}


table.line_item_list th.material,
table.line_item_list td.material{
  width:460px;
}

#material-box ul{
  padding-left:20px;
}
/********** takeoff table styling ***********/

td.hidden {
  width:13px;
  padding:0;
}

#box-table-a
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  /*text-align: left;*/
  border-collapse: collapse;
}
#box-table-a th, #material-box
{
  font-size: 13px;
  font-weight: normal;
  /*padding: 4px;*/
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}
#box-table-a td
{
  padding: 4px;
  background: #e8edff; 
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
  background: #d0dafd;
  color: #339;
}

/********** regular table styling **********/

td.left{
  /*background:#e5e5e5;*/
  margin:0 -1px;
  padding:0; 
  text-align:left;
  width:70%;
  min-height:500px;
  float:left;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;
  border-left:1px solid #ddd;
}

td.left h2 {
  margin:20px;
}

.select a{
  font-size:.7em;
  color:#999;
}

td.right, div.right{
  margin:0;
  padding:0;
  text-align:left;
  float:left;
  width:30%;
}

table.layout td.left div.left,
table.layout td.right div.Right,
div.layout table tr.left div.left,
div.layout div.right div.Right
{
width:auto;
float:none
}

#tester {
  display:none;
}
.deleteimage {
  display:none;
}

div.Right .column{
  min-width:200px;
  padding:0 0 0 9px;
}

.column {
  text-align:left;
}

.column h3{
  text-align:center;
}


.column .content {
  background-color:#fff5b9;
  border:1px solid #e6e6e6;
  margin-left:5px;
  padding:10px;
}

.box_header {
  margin:  0;
  padding:10px 20px;
  background-color:#EEE8AA;
  background-color:#000066;
  border-top:1px  solid #ccc;
  height:30px;
  text-align:left;
  border-bottom:1px  solid #ccc;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

.card {
  width:80%;
  background:#fff;
  /*background:#fff5b9;*/
  border:.5px solid #aaa;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  margin: 20px;
  padding:10px;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;    
}

.card p {
  border-bottom:1px solid #e6e6e6;
}

div.card div h3 {
  text-align:left;
}

.project_info {
  margin:5px;
  width:300px;
}

td.left h1, div.container h1{
  margin:0;
  text-shadow: #eee 2px 2px 2px;
  color:#000066;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.1em;
  /*text-align: left;*/
}

.box_header a {
  margin:-10px 0 0;
}

/*.content {
  overflow:hidden;
  width:850px;
  margin:auto;
}
*/


/*.content .primary{
  width:600px;
  padding-right:20px;
  float:left;
  display:inline;
  border-right:solid #e3e3e3 1px;
  font-size:1.2em;
}

.primary p {
  
}

.content .secondary {
  float:right;
  width:190px;
  display:inline;
  padding:4px;
}*/

.modify_links {
  font-size:1em;
  color:#ddd;
}

.sign_in_form, .takeoff_form {
  background-color:beige;
  margin:50px auto;
  width:300px;
  padding:20px;
  border:1px solid #ccc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6;  
}

.takeoff_form {
  width:380px;
}

.project_layout {
  margin:50px auto;
  /*width:803px;*/
  padding-left:20px;
  border:1px solid #999;
  -moz-box-shadow: 5px 5px 5px #c6c6c6;
  -webkit-box-shadow: 5px 5px 5px #c6c6c6;
  box-shadow: 5px 5px 8px #c6c6c6; 
  background-color:beige;  
}


.small {
  color:#aaa;
  font-size:.8em;
}

.left {
  float:left;  
}

.light {
  color:#aaa;
}

.takeoff {
  color:#999;
  padding-left:20px;
  font-size:1em;
}

.list {
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  margin:-10px;
  background:#000066;
  color:#eee;
  padding:10px;
}

.takeoff_list {
  /*background-color:#EEE8AA;*/
  padding-left:10px;
}

div.takeoff_list h3 {
  text-align:left;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding:10px;
}

div.takeoff_list a {
  font-size:14px;
  color:#999;
}
.checklist ul{
  list-style:none;
}

.right_link {
  float:right;
  padding: 0 5px;
}
/*
#navbar ul.nav a, .user_status  {
  display:block;
  padding:0 1em;
  line-height: 2.1em;
  text-decoration:none;
  color:#333;
}

#navbar ul.nav a.user_status  {
  padding:0 .3em;
}

#navbar ul.nav a:hover  {
  background-color:#f3f3f3;
  color:#333;
}
*/

/****** Error Styles *******/
#flash {
  /*display:none;*/
  position:fixed;
  top:300px;
  left:400px;
  border: 8px solid #333;
    -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  font-size:1.8em;
  line-height:1.5em;
  width:300px;
  margin-bottom: 20px auto;
  background-color: #777;
  color:#eee;
  z-index:100;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* inline edit styling */

tr.lineitem input {
  width: 80%;
}

tr.lineitem input[type=submit] {
  width: 5em;
}
tr.lineitem input[type=checkbox] {
  width: 1em;
}
tr.lineitem textarea {
  max-height:15em;
  min-width: 40em;
}
.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.best_in_place:hover, #user_account .do_hover {
  padding:1px;
  padding-right: 1.5em;
  background: url("/images/edit.png") no-repeat right;
  background-color: #eee;
}
.info_edit {
  float: right;
  cursor: hand;
  cursor: pointer;
}

/* Missatges Flotants */

.purr {
  position: fixed;
  width: 324px;
  top: 20px;
  right: 15px;
  padding: 20px;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #AAA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.purr:hover .close {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("/images/close-button.gif") no-repeat;
}

