body { 
  background-color: #fff; 
  color: #333;
  margin:0;
  padding:0;
 }

body, p, ol, ul, td {
  font-family: ubuntu, verdana, arial, helvetica, sans-serif;
  line-height: 20px;
}

pre {
  background-color: #eee;
}

hr {

  border-color:#fff;
}

a { color: #000; 
  text-decoration:none;
}

a:hover { color: blue; }

a:focus {outline:none;}

div.field, div.actions {
  margin-bottom: 10px;
}


#header, #footer {
  height:105px;
  background-color:#f3f3f3;
  border-bottom:solid 1px  #d2d2d2;
}

#header .content {
  width:850px;
}

#header .content p {
  width: 200px;
  float:right; 
}

#container {
  overflow:hidden;
  width:850px;
  margin:auto;
  height:800px;

}

#container div.projects {
  width:500px;
  height:700px;
  margin-top:20px;
  padding:5px 20px;
  background-color:#e3e3e3;
  float:left;
  display:inline;
  border:1px solid #999;
/*  -moz-border-radius: 15px;
  border-radius: 15px;*/
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}


.content {
  overflow:hidden;
  width:850px;
  margin:auto;
}

.content h2.logo_text {
  width:200px;
  color:#999;
  text-shadow: #cdcdce 5px 5px 1px;
  float:left;
  margin-top:25px;
  font-size:2em;
}

.content .primary{
  width:600px;
  padding-right:20px;
  float:left;
  display:inline;
  border-right:solid #e3e3e3 1px;
  font-size:1.2em;
}

.primary p {
  
}

.content .secondary {
  float:right;
  width:190px;
  display:inline;
  padding:4px;
}

.modify_links {
  font-size:1em;
  color:#ddd;
}

.sign_in_form {
  margin:50px auto;
  width:300px;
  padding:20px;
  border:1px solid #999;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;  
}

.project_layout {
  margin:50px auto;
  width:818px;
  padding-left:5px;
  border:1px solid #999;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  background-color:#f3f3f3;  
}

.project_info {
  margin:5px;
  width:300px;
}

.small {
  color:#aaa;
  font-size:.8em;
}

.list {
  border-bottom:1px solid #ddd;
}
/******Navigation Bar*****/
#navbar {
  background-color:#e3e3e3;
}

#navbar ul.nav {
  margin:auto;
  padding:0;
  width:850px;
  list-style:none;
  overflow:hidden;
  background-color:#e3e3e3;
}

#navbar ul.nav li {
  float:left;
}

#navbar ul.nav li.user_status {
  float:right;
}

#navbar ul.nav a  {
  display:block;
  padding:0 1em;
  line-height: 2.1em;
  text-decoration:none;
  color:#333;
}

#navbar ul.nav a.user_status  {
  padding:0 .3em;
}

#navbar ul.nav a:hover  {
  background-color:#f3f3f3;
  color:#333;
}


/****** Error Styles *******/
#flash_notice {
  border: 1px solid #333;
  padding: 7px;
  margin-bottom: 20px auto;
  background-color: #00ffff;

}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}