<% title "Construction Project Management" %>
<div class="home">
  <div class="header">
    <h1 class="big">Construction Project Made Easier with Tract.</h1>
    <h3>Orgnanize all your project data in one central location</h3>
  </div>

  <div class="content">
    <div class="info_frame">
      <div class="info_box">
        <p>Manage Multipe Projects</p>
      </div>
      <div class="info_box">
        <p>Project Listings</p>
      </div>
      <div class="info_box">
        <p>Project Material Takeoff</p>
      </div>
    </div><!-- end info_frame-->
  </div><!-- end content -->
  
  <h2>Tract is the top choice for contractors to organize information, prepare projects for bid, and keep track of previous projects.</h2>

</div><!-- end home -->


