<p class="fields">
  <%= f.label :material, "layer " %>
  <%= f.text_field :material, :size => 10 %>
  <%= f.hidden_field :_destroy %>
  <span class = "small" ><%= link_to_remove_fields  "remove", f  %></span>
</p>
